<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %> <!-- Render the navigation bar -->
    
    <%= yield %> <!-- This will render the content of each specific view -->

    <%= render 'layouts/footer' %>
  </body>
</html>
